Repository Zhybuliou/REACT_2023Q4: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint, npx prettier --write .

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["npx eslint "],
  "**/*.{html,css,scss}": ["npx prettier --write ."]
}

fix: check husky
  .lintstagedrc.json
  src/pages/Home-page.tsx
Due: npx eslint

fix: check husky
  .lintstagedrc.json
Due: none

fix: check husky
  package.json
  src/pages/Home-page.tsx
Due: npx eslint

fix: check husky
  package.json
Due: none

fix: husky check
  .lintstagedrc.json
Due: none

feat: fix husky work
  package.json
Due: none

fix: husky fix
  .husky/pre-commit
  package-lock.json
  package.json
  src/pages/Home-page.tsx
Due: npx eslint

fix: config lintstage
  .lintstagedrc.json
  src/pages/Home-page.tsx
Due: npx eslint

fix: file .lintstage
  .lintstagedrc.json
Due: none

fix: file lintstage
  .lintstagedrc.json
Due: none

fix: file lintstage
  package.json
Due: none

fix: file lintstage
  src/pages/Home-page.tsx
Due: npx eslint

fix: husky
  package.json
  src/pages/Home-page.tsx
Due: npx eslint

fix: check husky eslint
  react-components/.lintstagedrc.json
  react-components/src/pages/Home-page.tsx
Due: npx eslint

fix: style App.css change
  src/App.css
Due: npx prettier --write .

fix: package json husky script
  package.json
Due: none

feat: add pagination
  package-lock.json
  package.json
  src/App.css
  src/components/ApiPagination.tsx
  src/components/Logo.tsx
  src/components/SearchBlock.tsx
  src/pages/Home-page.tsx
  src/pages/PageError.tsx
  src/service/apiRequest.ts
Due: npx eslint, npx prettier --write .

fix: husky add --max-warnings=0
  react-components/.lintstagedrc.json
  react-components/src/pages/Home-page.tsx
Due: npx eslint

feat: add page Wrapper
  src/App.tsx
  src/pages/Wrapper.tsx
Due: npx eslint

fix: delete page Wrapper
  src/App.tsx
  src/pages/Home-page.tsx
  src/pages/Wrapper.tsx
Due: npx eslint

feat: add api request character
  src/App.css
  src/App.tsx
  src/components/Card.tsx
  src/components/CharacterCard.tsx
  src/pages/Home-page.tsx
  src/service/apiRequestCharacter.ts
Due: npx eslint, npx prettier --write .

refactor: change style pagination
  src/App.css
  src/components/ApiPagination.tsx
Due: npx eslint, npx prettier --write .

feat: add object planets for character cards
  src/App.css
  src/components/Card.tsx
  src/components/Cards.tsx
  src/components/CharacterCard.tsx
  src/data/planets.tsx
Due: npx eslint, npx prettier --write .

feat: add planets
  src/App.css
  src/components/CharacterCard.tsx
  src/data/planets.tsx
Due: npx eslint, npx prettier --write .

fix: style home content section and change interface
  src/App.css
  src/components/CharacterCard.tsx
  src/types/interface.ts
Due: npx eslint, npx prettier --write .

feat: add select card component
  src/App.css
  src/components/Cards.tsx
  src/components/SelectCards.tsx
Due: npx eslint, npx prettier --write .

feat: add function per page 20 item
  src/App.css
  src/pages/Home-page.tsx
Due: npx eslint, npx prettier --write .

feat: add function per Page
  src/components/ApiPagination.tsx
  src/pages/Home-page.tsx
Due: npx eslint

feat: add logic for pagination when choose 20 items per page
  src/components/SearchBlock.tsx
  src/pages/Home-page.tsx
Due: npx eslint
