Repository Zhybuliou/REACT_2023Q4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write .

feat: add page not found
  src/App.tsx
  src/components/Card.tsx
  src/components/Cards.tsx
  src/pages/Home-page.tsx
  src/pages/PageNotFoundRouter.tsx
Due: eslint --fix

fix: fix Router Netfly
  public/_redirects
Due: none

feat: add Context API and useReducer for API
  src/components/ApiPagination.tsx
  src/components/Cards.tsx
  src/components/SearchBlock.tsx
  src/components/SelectCards.tsx
  src/context/AppContext.tsx
  src/main.tsx
  src/pages/Home-page.tsx
  src/types/interface.ts
Due: eslint --fix

feat: add React Testing Library and my first test
  package-lock.json
  package.json
  src/pages/Home-page.tsx
  src/service/apiRequest.ts
  src/service/apiRequestCharacter.ts
  src/setupTests.ts
  src/tests/card.test.tsx
Due: eslint --fix

feat: add vitest in husky
  package.json
  src/tests/card.test.tsx
Due: eslint --fix

fix: package.json
  package-lock.json
  package.json
Due: none

feat: add Tests for the Card List component
  package-lock.json
  package.json
  src/components/Card.tsx
  src/data/apiMock.tsx
  src/tests/card.test.tsx
  src/types/interface.ts
Due: eslint --fix

feat: add test Tests for the 404 Page component
  src/components/CharacterCard.tsx
  src/data/apiMock.tsx
  src/tests/card.test.tsx
Due: eslint --fix

feat: Tests for the Pagination component
  package-lock.json
  package.json
  src/components/ApiPagination.tsx
  src/context/AppContext.tsx
  src/pages/Home-page.tsx
  src/tests/card.test.tsx
Due: eslint --fix

feat: Test Error Component
  src/components/SearchBlock.tsx
  src/tests/card.test.tsx
  tsconfig.json
Due: eslint --fix

feat: add test for Context
  src/components/SelectCards.tsx
  src/data/apiMock.tsx
  src/tests/card.test.tsx
Due: eslint --fix

feat: add for progect redux toolkit
  package-lock.json
  package.json
Due: none

fix: husky
  package.json
Due: none

feat: Integrate Redux into for application
  package-lock.json
  package.json
  src/components/ApiPagination.tsx
  src/components/Cards.tsx
  src/components/SearchBlock.tsx
  src/components/SelectCards.tsx
  src/context/AppContext.tsx
  src/main.tsx
  src/pages/Home-page.tsx
  src/store/createApiResult.ts
  src/store/sliceCharactersReducer.ts
  src/store/slicePagesReducer.ts
  src/store/slicePrePageReducer.ts
  src/store/sliceSearchReducer.ts
  src/store/store.ts
  src/tests/card.test.tsx
Due: eslint --fix

feat: add RTK Query Implementation component character
  src/components/CharacterCard.tsx
  src/components/SearchBlock.tsx
  src/components/SelectCards.tsx
  src/context/AppContext.tsx
  src/pages/Home-page.tsx
  src/store/createApiCharacters.ts
  src/store/sliceSearchReducer.ts
  src/store/store.ts
Due: eslint --fix

feat: add tests
  src/components/SearchBlock.tsx
  src/components/SelectCards.tsx
  src/pages/Home-page.tsx
  src/tests/card.test.tsx
Due: eslint --fix

feat: add msw
  package-lock.json
  package.json
  src/pages/Home-page.tsx
  tsconfig.json
Due: eslint --fix

feat: add tests
  package.json
  src/jest.config.ts
  src/main.tsx
  src/setupTests.ts
  src/store/store.ts
  src/testUtils.tsx
  src/tests/card.test.tsx
  src/tests/redux.test.tsx
  tsconfig.json
Due: eslint --fix

feat: add Header
  next-js/components/ErrorButton.tsx
  next-js/components/ErrorComponent.tsx
  next-js/components/Header.tsx
  next-js/components/Logo.tsx
  next-js/package-lock.json
  next-js/package.json
  next-js/pages/_app.tsx
  next-js/pages/index.tsx
  next-js/postcss.config.js
  next-js/src/app/favicon.ico
  next-js/src/app/globals.css
  next-js/src/app/layout.tsx
  next-js/src/app/page.tsx
  next-js/styles/globals.css
  next-js/tailwind.config.ts
  next-js/tsconfig.json
Due: eslint --fix, npx prettier --write .

feat: add select cards per page components
  next-js/components/Layout.tsx
  next-js/components/SelectCards.tsx
  next-js/pages/_app.tsx
  next-js/pages/index.tsx
  next-js/styles/globals.css
Due: eslint --fix, npx prettier --write .

feat: add search component
  next-js/components/ApiPagination.tsx
  next-js/components/SearchBlock.tsx
  next-js/pages/index.tsx
  next-js/styles/globals.css
Due: eslint --fix, npx prettier --write .

feat: add component NotFound.tsx
  next-js/assets/hugging-grogu.gif
  next-js/assets/shooting-fire-din-djarin.gif
  next-js/assets/source.gif
  next-js/components/NotFound.tsx
  next-js/pages/index.tsx
Due: eslint --fix

feat: add character Card
  next-js/components/Card.tsx
  next-js/components/Cards.tsx
  next-js/components/Loading.tsx
  next-js/data/planets.tsx
  next-js/pages/character/[id].tsx
  next-js/pages/index.tsx
  next-js/styles/globals.css
  next-js/types/interface.ts
Due: eslint --fix, npx prettier --write .

feat: add command open windows
  next-js/package.json
Due: none

feat: add pagination func switch page
  next-js/components/ApiPagination.tsx
  next-js/components/Card.tsx
  next-js/components/Logo.tsx
  next-js/next.config.js
  next-js/pages/index.tsx
  next-js/pages/page/[page].tsx
  next-js/pages/page/character/[id].tsx
Due: eslint --fix

feat: add open character modul
  next-js/components/Card.tsx
  next-js/components/Cards.tsx
  next-js/components/Character.tsx
  next-js/pages/page/[page].tsx
  next-js/pages/page/character/[id].tsx
  next-js/styles/globals.css
Due: eslint --fix, npx prettier --write .

feat: add ErrorBoundary.tsx
  next-js/components/Character.tsx
  next-js/components/ErrorBoundary.tsx
  next-js/pages/_app.tsx
  next-js/pages/error.tsx
  next-js/pages/page/[page].tsx
Due: eslint --fix

feat: add style for pagination
  next-js/components/ApiPagination.tsx
Due: eslint --fix

feat: add Loader for main page
  next-js/components/NavigateLoader.tsx
  next-js/pages/_app.tsx
  next-js/styles/globals.css
Due: eslint --fix, npx prettier --write .

feat: add search block function
  next-js/components/ApiPagination.tsx
  next-js/components/Character.tsx
  next-js/components/SearchBlock.tsx
  next-js/pages/page/[page].tsx
Due: eslint --fix

feat: add test dev dependencies
  next-js/__mocks__/fileMock.js
  next-js/__mocks__/styleMock.js
  next-js/__tests__/index.test.tsx
  next-js/jest.config.js
  next-js/jest.setup.js
  next-js/package-lock.json
  next-js/package.json
  next-js/tsconfig.json
Due: eslint --fix

feat: add test for my app
  next-js/__mocks__/fileMock.js
  next-js/__mocks__/styleMock.js
  next-js/__tests__/details.test.tsx
  next-js/__tests__/index.test.tsx
  next-js/components/ApiPagination.tsx
  next-js/components/Character.tsx
  next-js/components/NavigateLoader.tsx
  next-js/components/SearchBlock.tsx
  next-js/data/apiMock.tsx
  next-js/jest.config.js
  next-js/jest.setup.js
  next-js/package-lock.json
  next-js/package.json
  next-js/pages/_app.tsx
  next-js/pages/error.tsx
  next-js/pages/page/[page].tsx
  next-js/styles/globals.css
  next-js/tsconfig.json
Due: eslint --fix, npx prettier --write .

feat: add function in SelectCards
  next-js/components/SelectCards.tsx
Due: eslint --fix

feat: add tests
  next-js/__tests__/details.test.tsx
  next-js/__tests__/index.test.tsx
  next-js/components/ApiPagination.tsx
  next-js/components/Cards.tsx
  next-js/components/SelectCards.tsx
  next-js/data/apiResults.tsx
  next-js/jest.config.js
  next-js/package.json
  next-js/pages/page/[page].tsx
Due: eslint --fix

feat: remove commit
  next-js/jest.config.js
  next-js/next.config.js
Due: eslint --fix

fix: Logo Link
  next-js/components/Logo.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  npx prettier --write .: any of: **/*.{html,css,scss}
