Repository Zhybuliou/REACT_2023Q4: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write .

fix: eslintrc.json
  next-js/.eslintrc.json
Due: none

init: Start task react forms
  .eslintrc.cjs
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .prettierrc.cjs
  README.md
  index.html
  package-lock.json
  package.json
  public/_redirects
  public/vite.ico
  src/App.css
  src/App.tsx
  src/babel.config.js
  src/components/Card.tsx
  src/components/ErrorBoundary.tsx
  src/components/Header.tsx
  src/components/Loading.tsx
  src/components/Logo.tsx
  src/components/PageNotFound.tsx
  src/index.css
  src/jest.config.ts
  src/main.tsx
  src/pages/Home-page.tsx
  src/pages/PageError.tsx
  src/pages/PageNotFoundRouter.tsx
  src/setupTests.ts
  src/store/sliceSearchReducer.ts
  src/store/store.ts
  src/types/interface.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, npx prettier --write .

feat: add header link
  src/App.css
  src/components/Header.tsx
  src/components/Logo.tsx
  tsconfig.json
Due: eslint --fix, npx prettier --write .

feat: add page Form and Second form
  src/App.css
  src/App.tsx
  src/components/Header.tsx
  src/pages/FormPage.tsx
  src/pages/HomePage.tsx
  src/pages/SecondFormPage.tsx
Due: eslint --fix, npx prettier --write .

feat: add form cards
  .eslintrc.cjs
  src/App.css
  src/components/Card.tsx
  src/components/Cards.tsx
  src/components/PageNotFound.tsx
  src/pages/FormPage.tsx
  src/pages/HomePage.tsx
  src/store/sliceFormReducer.ts
  src/store/sliceSearchReducer.ts
  src/store/store.ts
  src/types/interface.ts
Due: eslint --fix, npx prettier --write .

feat: add descriptipon by card
  src/App.css
  src/components/Card.tsx
Due: eslint --fix, npx prettier --write .

feat: add style card
  src/App.css
Due: npx prettier --write .

feat: add check image
  package-lock.json
  package.json
  src/App.css
  src/pages/FormPage.tsx
  src/validations/userValidation.ts
Due: eslint --fix, npx prettier --write .

feat: add redirect after submit form
  src/pages/FormPage.tsx
  src/validations/userValidation.ts
Due: eslint --fix

fix: fix send logic form
  src/pages/FormPage.tsx
Due: eslint --fix

fix: fix validation image size
  src/components/Card.tsx
  src/validations/userValidation.ts
Due: eslint --fix

feat: add second form controlled
  package-lock.json
  package.json
  src/pages/SecondFormPage.tsx
  src/validations/secondValidation.ts
Due: eslint --fix

feat: add check special character in password input
  src/components/Card.tsx
  src/pages/SecondFormPage.tsx
  src/types/interface.ts
  src/validations/secondValidation.ts
Due: eslint --fix

feat: add button disabled by second form
  src/pages/SecondFormPage.tsx
  src/validations/secondValidation.ts
Due: eslint --fix

feat: add save and store countrys in Redux store
  .eslintrc.cjs
  src/pages/FormPage.tsx
  src/pages/SecondFormPage.tsx
  src/store/sliceCountryReducer.ts
  src/store/store.ts
Due: eslint --fix

feat: add animation last add card by Card List
  src/App.css
  src/components/Card.tsx
Due: eslint --fix, npx prettier --write .

fix: error messeage image
  src/pages/FormPage.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  npx prettier --write .: any of: **/*.{html,css,scss}
